# Most reliable gitignore file for Magento 2 -> https://firebearstudio.com/blog/magento-2-gitignore.html
# https://github.com/magento/magento2-community-edition/blob/master/.gitignore

html/.buildpath
html/.cache
html/.metadata
html/.project
html/.settings
html/atlassian*
html/nbproject
html/sitemap
html/.idea
html/.gitattributes

html/app/code/Magento
html/app/design/*/Magento
html/app/etc
html/app/i18n/magento
html/app/*.*

html/bin

html/dev/shell

html/dev/tests/*/framework
html/dev/tests/*/testsuite/Magento
html/dev/tests/*/tmp
html/dev/tests/*/etc
html/dev/tests/*/*.*
html/dev/tests/*.*
html/dev/tests/api-functional/config
html/dev/tests/api-functional/_files/Magento
html/dev/tests/js/JsTestDriver/framework
html/dev/tests/js/JsTestDriver/testsuite/lib
html/dev/tests/js/JsTestDriver/testsuite/mage
html/dev/tests/js/JsTestDriver/*.*
html/dev/tests/js/jasmine/assets
html/dev/tests/js/jasmine/spec_runner
html/dev/tests/js/jasmine/tests/app/code/Magento
html/dev/tests/js/jasmine/tests/lib/mage
html/dev/tests/js/jasmine/*.*
html/dev/tests/performance
html/dev/tests/functional/lib/Magento
html/dev/tests/functional/tests/app/Magento
html/dev/tests/functional/testsuites/Magento
html/dev/tests/functional/utils

html/dev/tools/Magento
html/dev/tools/grunt
!/html/dev/tools/grunt/configs/themes.js
html/dev/tools/*.*

html/dev/*.*

html/lib

html/pub

html/node_modules

html/setup

html/var

html/vendor

html/*.*

!/html/composer.json
!/html/composer.lock
!/html/docker-compose.yml
!/html/README.md
